$bgMainCol: #1e1e1e;
$deezCol: #e0e0e0;


body {
  background-color: #1e1e1e;
}

.MainDiv {
  top: 10vh;
  /* left: ${props => ((props.width) / window.screen.width) * 30}vw ; */
  max-width: 90%;
  min-width: 55em;
  width: auto;
  height: auto;
  top: 2em;
  margin: 0 auto 5em auto;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* @media screen and ( max-width: 768px ) {
    left: 15vw;
  }
  
  @media screen and ( max-width: 600px ) {
    left: 10vw;
  }

  @media screen and ( max-width: 425px ) {
    left: 1vw;
    width: auto;
  } */
}
.MainDivTop {
  width: auto;

}

.searchDiv {
  width: auto;
  position: relative;
  margin-bottom: 2.3em;
}
.searchIcon {
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  right: 0.5em;
  top: 0.55em;
}
#searchListItem {
  margin: -1em 0 0 0;
  font-family: Ubuntu;
  padding: 0;
  :first-child {
    border-radius: 0.5em 0.5em 0 0;
    padding-top: 1.5em;
  }
  :last-child {
    border-radius: 0 0 0.5em 0.5em;
  }
}
#searchListItem > li {
  list-style-type: none;
  font-size: 0.9em;
  background: white;
  box-sizing : border-box;
  width: 100%;
  padding: 0.2em 0 0.2em 0.5em;
  &:hover {
    background: #dbdbdb;
  }
}

// MainDivTap
.MainDivTap {
  width: auto;
  border-radius: 0.3em;
  margin: 1.5em 0.7em 0 0.7em;
  position: relative;
}


%sharedlogo {
  width: 13em;
  margin-bottom: 1em;
}
#ytlogowhite {
  @extend %sharedlogo;
}
#dzlogowhite {
  @extend %sharedlogo;
}


.YoutubeDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.divscrollbar {
  background: $bgMainCol;
  display: flex;
}

.YouMedia {
  position: relative;
  display: flex;
  margin: 1em;
}
.youtubeImg {
  width: 100%;
  height: 100%;
}

%retObjShared {
  border: 0.05em solid #f7f7f7;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  transition: 0.3s;
  justify-content: space-between;
  font-family: Ubuntu;
  &:hover{
    background-color: rgba(255,255,255,0.1)
  }
  &:active {
    background-color: rgba(255,255,255,0.3)
  }
}
.RetObjStyledYou {
  @extend %retObjShared;
  max-width: 25.5em;
  width: auto;
  padding: 0.5em;
}
.RetObjStyledDeez {
  @extend %retObjShared;
  width: 26em;
  margin: 0;
  padding: 0.5em;
}

// Deezer onwards
%deez-shared {
  font-weight: 300;
  color: $deezCol;
}

.DeezerDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.deezerAlbumDiv {
  @extend %deez-shared;
  margin-right: 0.5em;
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  align-items: center;
}
.deezerDuration {
  font-size: 0.75em;
  width: 3em;
  display: flex;
  justify-content: flex-end;
  font-weight: 100;
  margin-top: 0.5em;
  @extend %deez-shared;
}

#deezDiv {
  color: $deezCol;
}
.deezerTitle {
  @extend %deez-shared;
  width: 14em;
}

button:focus {
  outline: none;
}
input:focus {
  outline: none;
}