#mediaplayerImg {
  max-width: 6em;
  min-height: 4em;
  height: auto;
  margin-bottom: auto;
}

#shuffleIcon {
  color: white;
  position: absolute;
  width: 2em;
  height: 1.4em;
  top: 1.6em;
  left: 11em;
  &:hover {
    opacity: 1;
  }
}
$bgColor: rgb(43, 43, 43);
%basic-shared {
  border-radius: 1em;
  color: white;
  padding: 0.4em 0.6em;
  margin: 1em 0.5em;
  border: 1px solid white;
  background: $bgColor;
  font-family: Ubuntu;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    border: 2px outset white;
  }
  &:focus {
    outline: none;
  }
}
.buttonPlayList {
  @extend %basic-shared;
  font-size: 1.1em;
}

.playListNumber {
  @extend %basic-shared;
  padding: 0.5em;
}

.playListInput {
  @extend %basic-shared;
  &:focus {
    border: 2px outset white;
  }
}

.playlistDiv {
  margin-bottom: 1.2em;
  margin-right: 3em;
}
// Main PL button
.playlistDiv .playlistName:nth-child(2) {
  font-size: 1.2em;
  padding: 0.5em;
  background: rgb(22, 22, 22);
  transition: 0.2s;
  margin: 0 1em;
  &:hover {
    border: 2px outset white;
    transition: 0.2s;
  }
}
// Void PL button
.playlistName:first-child {
  display: none;
}
// Normal PL button
.playlistName {
  @extend %basic-shared;
  padding: 0.2em 0.4em;
  font-size: 1em;
  display: inline-block;
}

.divObj {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
  padding: 0.3em 0 0.3em 0;
  transition: 0.3s;
  justify-content: space-between;
  &:hover {
    background: #3b3b3b;
    opacity: 1;
  }
  &:active {
    background: #515151;
  }
}

.divObj {
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.errorMessage {
  font-size: 0.9em;
  color: rgb(243, 10, 10);
  display: inline-block;
  margin: 0;
  font-weight: 300;
}

%trashcss {
  height: 2.2em;
  width: 2em;
  position: absolute;
  right: 0.25em;
  bottom: 1.5em;
  opacity: 0.75;
}
%trashbefcss {
  font-family: 'Font Awesome\ 5 Free';
  color: white;
  font-size: 2em;
}
.droppableClass { 
  @extend %trashcss;
}

.droppableClass:before {
  @extend %trashbefcss;
  content: '\f2ed'; // Rubbish Icon
}

.droppableClassHov {
  @extend %trashcss;
  opacity: 0.9;
}

.droppableClassHov:before {
  @extend %trashbefcss;
  content: '\f2ed'; // Rubbish Icon
  color: red;
}

.trashInfo {
  width: 8em;
  position: absolute;
  right: 0.5em;
  bottom: 5em;
  font-weight: 100;
  opacity: 0.6;
  text-align: right;
  font-size: 0.9em;
  transition: 0.2s;
  display: inline-block;
}